<html>
        <head></head>
        <body>
            <h1><%=@a%> + <%=@b%> = <%=@q%>입니다.</h1>
            <h1><%=@a%> - <%=@b%> = <%=@w%>입니다.</h1>
            <h1><%=@a%> * <%=@b%> = <%=@e%>입니다.</h1>
            <h1><%=@a%> / <%=@b%> = <%=@r%>입니다.</h1>
        </body>
</html>